.overlay-menu {
    position: fixed;
    z-index:2;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    transition: display .2s ease-in-out;
}

.modal-images {
    position: fixed;
    width: 300px;
    height: 400px;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.rating-box,
.rating-tabs {
    display: inline-block;
    margin-right: 3px;
}
.fa-star {
    font-size: 14px;
    display: inline-block;
    color: $accentColor;
    cursor: pointer;
    transition: color .1s ease-in-out;
}
.active-star {
    color: $accentColor;
}
.fa-star.active-star ~ .fa-star {
  color: #676767;
}
.rating-box:hover .fa-star {
  color: $accentColor;
}
.rating-tabs:hover .fa-star {
  color: $accentColor;
}
.fa-star:hover ~ .fa-star {
  color: #676767;
}

.block-rating {
    pointer-events: none;
}