.top-header,
.container-middle,
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    @media screen and (max-width: 1065px) {
        flex-direction: column;
    }

}
.login__list,
.nav_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.top-header__wrap {
    background: $midlegray;
    padding: 16px 0 17px 0;
}

    .help__item {
        padding-left: 12px;
        border-left: 1px solid #e1e1e1;
            &:first-child {
                padding-left: 0;
                border-left: none;
            }
    }

    .login__link {
        display: block;
        color: #fff;
        font-size: 0.813rem;
        font-weight: 500;
        
    }

    .login__item {
        margin-right: 35px;
        transition: color .1s ease-in-out;
        @media screen and (max-width: 660px) {
            margin-right: 25px;
        }
            &:last-child {
                margin-right: 0;
            }
            &:hover .login__link {
                color: $accentColor;
            }
    }

    .fa-user,
    .fa-lock {
        margin-right: 9px;
    }



.middle__wrap {
    background: $darkGray;
    padding: 34px 0;
}

    .menu__wrap {
        padding: 19px 0;
    }

        .tel-link {
            color: #d8d8d8;
            font-size: 1.063rem;
            font-weight: 600;
            @media screen and (max-width: 660px) {
                display: none;
            }
        }

        .fa-mobile-alt {
            color: $accentColor;
            font-size: 32px;
            vertical-align: middle;
            margin-right: 13px;
        }

        .logo {
            margin-right: 105px;
            @media screen and (max-width: 660px) {
                margin: 0 30px 0 0;
                
            }
            @media screen and (max-width: 345px) {
                margin: 0 30px 0 0;
                
            }
        }

        .chart {
            position: relative;
        }

            .chart a {
                display: inline-block;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    background: $darkGray;
                    width: 29px;
                    height: 29px;
                    top: 10px;
                    right: 2px;
                    border-radius: 50%;
                    @media screen and (max-width: 345px) {
                        width: 25px;
                        height: 25px;
                        top: 10px;
                    }
                }
            }

                .fa-shopping-basket {
                    padding: 14px;
                    background: $accentColor;
                    border-radius: 3px;
                    margin-right: 22px;
                    font-size: 1.25rem;
                    color: #fff;
                    @media screen and (max-width: 345px) {
                        padding: 11px;
                    }
                }

                .caunt-chart {
                    position: absolute;
                    color: #e0e3ed;
                    font-size: 0.875rem;
                    font-weight: 500;
                    line-height: 2.625rem;
                    top: 3px;
                    right: 13px;
                    @media screen and (max-width: 345px) {
                        top: 1px;
                    }
                }


.nav_link {
    color: #2a2a2a;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 2.625rem;
    text-transform: uppercase;
    padding: 30px 15px 34px 15px;
    transition: background .2s ease-in-out,
                color .2s ease-in-out,
                border .2s ease-in-out;
    &:hover {
        background: $accentColor;
        border-top: 4px solid #2a2a2a;
        color: #fff;
    }

    @media screen and (max-width: 1065px) {
        padding: 3px 15px;
    }
}

/* RSPONSIVE MENU */

.input__menu {
    display: none;
}

.label__menu {
    color: #fff;
    font-weight: 900;
    background: $accentColor;
    padding: 15px;
    border-radius: 0 5px 5px 0;
    position: fixed;
    top: 25px;
    left: 0;
    z-index: 1;
    transition: transform .5s ease-in-out;
    // transform: translateX(-100%);
}

    @media screen and (max-width: 660px) {
        .label__menu {
            transform: translateX(0);
        }

        .help__item {
            display: none;
        }

        .login {
            margin: 0 auto;
        }

        .overlay-menu {
            position: fixed;
            z-index:2;
            top: 0;
            left: 0;
            background: rgba(42, 42, 42, 0.911);
            width: 100%;
            height: 100vh;
            overflow: hidden;
            display: none;
            transition: display .2s ease-in-out;
        }

        .nav-header {
            width: 200px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background: #fff;
            z-index: 3;
            border-right: 2px solid $accentColor;
            transition: transform .6s ease-in-out;
            transform-origin: left;
            transform: rotateY(90deg);
        }

        .nav_list {
            display: block;
        }

        .nav_link {
            width: 100%;
            display: block;
            border: none;
             &:hover {
                background: $accentColor;
                border: none;
                color: #fff;
             }
        }
    }

    .input__menu:checked ~ .nav-header {
        transform: rotateY(0);
        transition: transform .6s ease-in-out;
    }
    .input__menu:checked ~ .overlay-menu {
        display: block;
    }


